@use "../global" as global;

.p-archive__category {
  margin-top: global.cal-clamp(20, 40);
}

.p-archive__container {
  margin-top: global.cal-clamp(30, 50);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: global.cal-clamp(20, 30);
}
