@use "../global" as global;

.p-about {
  overflow: hidden;
}

.p-about__container {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include global.mq(md) {
    flex-direction: row-reverse;
    gap: 30px;
  }

  @include global.mq(xl) {
    gap: 100px;
  }
}

.p-about__img {
  position: relative;
  margin-inline: auto;
  width: 100%;
  height: auto;
  max-width: 550px;
  max-height: global.cal-clamp(550, 700);
  aspect-ratio: 9 / 16;

  @include global.mq(md) {
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    transition: global.$transition-default;
  }

  //無限回転デコレーション文字
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: global.cal-clamp(130, 183);
    height: global.cal-clamp(130, 183);
    transform: translate(30%, -50%);
    background: url(../img/icon/p-about-deco.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 15s linear infinite;
  }
}

.p-about__text-box {
  @include global.mq(md) {
    width: 50%;
  }
}

.p-about__name-box {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  line-height: 1;
}

.p-about__name-flex {
  display: flex;
  flex-direction: column;
}

.p-about__job {
  display: inline-block;
  font-family: global.$ff-en;
  font-size: global.cal-clamp(14, 16);
  line-height: 1;

  background: linear-gradient(-45deg, #2af598, #3640d0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.p-about__name-ja {
  display: inline-block;
  font-size: global.cal-clamp(26, 32);
  line-height: 1.2;
}

.p-about__name-en {
  display: inline-block;
  font-family: global.$ff-en;
  font-size: global.cal-clamp(20, 22);
  line-height: 1;
}

.p-about__text {
  margin-top: 1em;
  line-height: 2;

  span {
    display: inline-block;
  }
}

.p-about__text--emphasis {
  margin-top: 2em;
  font-weight: global.$fw-large;
}

.p-about__list {
  margin-top: 1.875em;
  display: flex;
  flex-direction: column;
}

.p-about__item {
  line-height: 2;
}

.p-about__btn {
  margin-top: 2.5em;
}

// profile-decoの無限回転
@keyframes rotate {
  from {
    transform: translate(30%, -50%) rotate(0deg);
  }
  to {
    transform: translate(30%, -50%) rotate(360deg);
  }
}
