@use "../global" as global;

.p-blog-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 0.75em;
  transition: global.$transition-default;

  @media (any-hover: hover) {
    &:hover {
      .p-blog-card__img {
        img {
          transform: scale(1.1);
        }
        &::after {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.p-blog-card__img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  outline: 1px solid global.$gray;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
    transition: global.$transition-default;
  }

  //画像マスク
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: global.$transition-default;
  }
}

.p-blog-card__head {
  display: flex;
  align-items: center;
}

.p-blog-card__time {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(18, 20);
  padding-right: 1rem;
  border-right: 1px solid global.$text-color-black;
}

.p-blog-card__tag {
  margin-left: 1rem;
  font-size: global.cal-clamp(12, 14);
  font-weight: global.$fw-medium;
  padding: 4px 14px;
  inline-size: fit-content;
  border-radius: 1em;
  border: 1px solid global.$text-color-black;
  background: global.$text-color-white;
}

.p-blog-card__title {
  font-size: global.cal-clamp(18, 20);
  font-weight: global.$fw-medium;
}

//カードビューとリストビューの切り替え
.view-toggle {
  margin-top: 2em;
  display: flex;
  gap: 1.3em;

  input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    appearance: none;
  }

  /* ラジオボタンがチェックされたときのスタイル */
  input[type="radio"]:checked {
    + label {
      opacity: 1; //選択された時は透明度を上げる
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: global.rem(16);
    line-height: 1;
    opacity: 0.2; //非選択の時は透明度を下げる

    img {
      width: 1.3em;
      aspect-ratio: 1 / 1;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

// .listが付与された時のスタイル
.p-blog-card {
  &.list {
    padding-block: 0.75em;
    padding-inline: 0.5em;
    border-bottom: 1px solid global.$gray;

    @media (any-hover: hover) {
      &:hover {
        background: #f5f5f5;
      }
    }
    .p-blog-card__img {
      display: none;
    }
  }
}

.p-blog__list {
  &.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

// archive-blog.html
.p-archive__container--blog {
  &.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
