@use "../global" as global;

.p-contact__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;

  .c-section-heading {
    margin-inline: auto;
  }
}

.p-contact__text {
  line-height: 1.8;
  word-break: keep-all;
}
