@use "../global" as global;

.p-form {
  margin-top: 2.5em;

  //フォーカス時のアウトライン
  input,
  textarea,
  select,
  input[type="checkbox"],
  input[type="submit"] {
    &:focus-visible {
      outline: none;
    }
  }

  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid global.$gray;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 2px;
    appearance: none;
    padding-block: 0;
    padding-left: 0;
    padding-right: 0;
  }

  input[type="checkbox"]:checked:before {
    position: absolute;
    content: "";
    top: 1px;
    left: 4px;
    transform: rotate(50deg);
    width: 6px;
    height: 10px;
    border-right: 2px solid global.$main-color;
    border-bottom: 2px solid global.$main-color;
  }
}

.p-form__field {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include global.mq(md) {
    flex-direction: row;
  }
}

// checkboxとtextareaのflex用
.p-form__field--flex {
  flex-direction: column !important;

  @include global.mq(md) {
    flex-direction: row !important;
  }

  textarea {
    width: 100%;
  }
}
.p-form__field-head {
  width: 100%;
  height: fit-content;
  min-width: 140px;
  padding-block: 1em;
  padding-right: 1em;
  border-bottom: 1px solid global.$gray;

  @include global.mq(md) {
    width: 30%;
  }
}

.p-form__field-label__emphasize {
  color: global.$red;
  margin-left: 0.125em;
}

.p-form__field-item {
  width: 100%;
  border-bottom: 1px solid global.$gray;

  @include global.mq(md) {
    width: 70%;
  }

  select {
    width: 100%;
    padding-block: 1em;
    padding-right: 16px;
    padding-left: 0.5em;
    font-size: 1em;
  }

  input,
  textarea {
    background: none;
  }

  input {
    padding-block: 1em;
    padding-left: 0.5em;
    padding-right: 1em;
  }

  textarea {
    padding: 1em;
    border-radius: 12px;
    border: 1px solid global.$gray;
  }

  input.wpcf7-email,
  input.wpcf7-text {
    width: 100%;
  }

  .wpcf7-list-item {
    font-size: global.rem(16);

    @include global.mq(sm) {
      font-size: global.rem(14);
    }
  }
}

// checkboxとtextareaのborder打ち消し用
.p-form__field-item--bordernone {
  border-bottom: none;
}

.p-form__privacy {
  padding: global.cal-clamp(15, 20);
  border-radius: 12px;
  border: 1px solid global.$gray;
}

.p-form__field--tac {
  text-align: center;

  .wpcf7-list-item {
    font-size: global.rem(14);
  }

  .wpcf7-checkbox {
    justify-content: center;
  }
}

// 確認画面のスタイル
.p-form__field--confirmation {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: center;
  gap: 0.5em;

  @include global.mq(md) {
    flex-direction: row;
  }
}

.p-form__field-item--confirmation {
  padding-block: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
}

.p-form__field-item--confirmation-text-area {
  padding: 1em;
  border-radius: 12px;
  border: 1px solid global.$gray;
}

// checkboxのmargin調整用
.p-form__field input[type="checkbox"],
.p-form__field--tac input[type="checkbox"] {
  margin-right: 8px;
}

////////////////////////////////////
// contact-form7全体
.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 900px;
  margin-left: auto;
}

// checkbox部分
.wpcf7-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.wpcf7-list-item-label {
  word-break: keep-all;
}

// submitボタンのスタイル
.wpcf7-submit,
.wpcf7-previous {
  display: inline-block;
  inline-size: fit-content;
  min-inline-size: 175px;
  letter-spacing: 0.1em;
  border-radius: 1em;
  border: 2px solid global.$text-color-black;
  padding: 0.75em 2em;
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.1);
  transition: global.$transition-default;

  @media (any-hover: hover) {
    &:hover {
      color: global.$text-color-white;
      background-color: global.$text-color-black;
      box-shadow: none;
    }
  }
}

// 戻るボタン
.wpcf7-previous {
  background-color: global.$text-color-black;
  color: global.$text-color-white;

  @media (any-hover: hover) {
    &:hover {
      color: global.$text-color-black;
      background-color: global.$text-color-white;
    }
  }
}

// 必須項目が入力されていない場合ボタン非表示
.wpcf7-submit:disabled {
  background: global.$gray;
  opacity: 0.5;
  border: none;
  box-shadow: none;
  user-select: none;
  cursor: not-allowed;

  @media (any-hover: hover) {
    &:hover {
      color: global.$text-color-black;
      background: global.$gray;
    }
  }
}

// スピナーの打ち消し
.wpcf7-spinner {
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.wpcf7-list-item {
  margin: 0 !important;
}

// エラーメッセージ
.wpcf7 form .wpcf7-response-output {
  visibility: hidden;
  display: none;
  // margin: 1em;
  // margin-inline: auto;
  // padding: 0.3em;
  // border: 2px solid #00a0d2;
  // border-radius: 5px;
  // text-align: center;
  // display: inline-block;
  // inline-size: fit-content;
}

//エラー時
.wpcf7 form.invalid .wpcf7-response-output {
  border-color: global.$red;
}

// 送信完了時
.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450;
}

// 未入力項目のエラー、上に表示
.wpcf7-not-valid-tip {
  position: absolute;
  translate: 0 2px;
  font-size: 0.9em;
}

.p-form__field--tac .wpcf7-checkbox {
  justify-content: flex-start;
}

// checkboxの調整用
.flex {
  display: flex;
}
