@use "../global" as global;

.p-fv {
  display: grid;
  align-items: center;
  height: 90vh;
}

.p-fv__lead {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(20, 24);
}

.p-fv__title {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(64, 80);
}

.p-fv--page {
  height: 60vh !important;
}

//アニメーション用
.jsfadeInText span {
  display: inline-block;
}
