@use "../global" as global;

.p-fv {
  padding-top: 260px;
  padding-bottom: 140px;
}

.p-fv__lead {
  font-family: global.$ff-en;
  font-size: global.rem(20);

  @include global.mq(md) {
    font-size: global.rem(24);
  }
}

.p-fv__title {
  font-family: global.$ff-en;
  font-size: global.rem(64);

  @include global.mq(md) {
    font-size: global.rem(80);
  }
}
