@use "../global" as global;

.p-form {
  margin-top: 2.5em;

  //フォーカス時のアウトライン
  input,
  textarea,
  select,
  input[type="checkbox"],
  input[type="submit"] {
    &:focus-visible {
      outline-offset: 2px;
    }
  }
}

.p-form__field {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include global.mq(md) {
    flex-direction: row;
  }
}

// checkboxとtextareaのflex用
.p-form__field--flex {
  flex-direction: column !important;

  @include global.mq(md) {
    flex-direction: row !important;
  }

  textarea {
    width: 100%;
  }
}
.p-form__field-head {
  width: 100%;
  height: fit-content;
  min-width: 140px;
  padding-block: 1em;
  padding-right: 1em;
  border-bottom: 1px solid global.$gray;

  @include global.mq(md) {
    width: 30%;
  }
}

.p-form__field-label__emphasize {
  color: global.$red;
  margin-left: 0.125em;
}

.p-form__field-item {
  width: 100%;
  border-bottom: 1px solid global.$gray;

  @include global.mq(md) {
    width: 70%;
  }

  select {
    width: 100%;
    padding-block: 1em;
    padding-right: 16px;
    padding-left: 0.5em;
    font-size: 1em;
  }

  input,
  textarea {
    background: none;
  }

  input {
    padding-block: 1em;
    padding-left: 0.5em;
    padding-right: 1em;
  }

  textarea {
    padding: 1em;
    border-radius: 12px;
    border: 1px solid global.$gray;
  }

  input.wpcf7-email,
  input.wpcf7-text {
    width: 100%;
  }

  input:-internal-autofill-selected {
  }
}

// checkboxとtextareaのborder打ち消し用
.p-form__field-item--bordernone {
  border-bottom: none;
}

.p-form__privacy {
  padding: 1.25em;
  border-radius: 12px;
  border: 1px solid global.$gray;
}

.p-form__field--tac {
  text-align: center;

  .wpcf7-list-item {
    font-size: global.rem(14);
  }

  .wpcf7-checkbox {
    justify-content: center;
  }
}

// checkboxのmargin調整用
.p-form__field input[type="checkbox"],
.p-form__field--tac input[type="checkbox"] {
  margin-right: 8px;
}

////////////////////////////////////
// contact-form7全体
.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 900px;
  margin-left: auto;
}

// checkbox部分
.wpcf7-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

// submitボタンのスタイル
.wpcf7-submit {
  inline-size: fit-content;
  border-radius: 1em;
  border: 2px solid global.$text-color-black;
  padding: 9px 50px 9px 50px;
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.1);
  transition: global.$transition-default;

  @media (any-hover: hover) {
    &:hover {
      color: global.$text-color-white;
      background-color: global.$text-color-black;
      box-shadow: none;
    }
  }
}

// スピナーの打ち消し
.wpcf7-spinner {
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.wpcf7-list-item {
  margin: 0 !important;
}
