@use "../global" as global;

.p-fv {
  display: grid;
  align-items: center;
  height: 90vh;
}

.p-fv__lead {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(20, 24);

  span {
    background: linear-gradient(-45deg, #2af598, #009efd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.p-fv__title {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(64, 80);
}

//index.html以外の下層ページ用
.p-fv--page {
  height: 60vh !important;
}

//アニメーション用
.jsfadeInText span {
  display: inline-block;
}

// 背景動画
.video-background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
