@use "../global" as global;

.p-footer {
  --background: rgba(255, 255, 255, 0.9);

  position: relative; //p-footer__top-btnのため
  background: var(--background);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  backdrop-filter: blur(10px) saturate(120%);
}

.p-footer__top-btn {
  position: absolute;
  right: 8%;
  top: -10%;

  @include global.mq(md) {
    right: 5%;
  }
}
.p-footer__inner {
  padding-top: 40px;
  padding-bottom: 20px;

  @include global.mq(md) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.p-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-footer__logo {
  display: flex;
  flex-direction: column;
  transition: global.$transition-default;

  &:hover {
    opacity: 0.5;
  }
}
.p-footer__logo-text {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(14);
}
.p-footer__logo-title {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(24);
}

.p-footer__right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.p-footer__copyright {
  font-size: global.rem(10);
}

.p-footer__copyright--sp {
  margin-top: 1em;
  text-align: center;
}
