@use "../global" as global;

.p-header {
  position: sticky;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: global.z-index(header);
}

.p-header__inner {
  width: calc(100% - 20px * 2);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include global.mq(lg) {
    width: calc(100% - 60px * 2); //headerのみ広め
    max-width: 1440px; //headerのみ広め
  }
}

// logo
.p-header__logo {
  --background: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-direction: column;
  padding: 5.25px 20px;
  border-radius: 12px;
  background: var(--background);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  backdrop-filter: blur(10px) saturate(120%);
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.1);
  transition: global.$transition-default;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.p-header__logo-text {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(14);
}

.p-header__logo-title {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(24);
}
