@use "../global" as global;

.p-header {
}

.p-header__inner {
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;

  @include global.mq(lg) {
    width: calc(100% - 60px * 2);
    max-width: 1160px; //ヘッダーコンテンツの最大幅
  }
}

// logo
.p-header__logo {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 60px;
  padding: 6px 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: global.$transition-default;

  &:hover {
    opacity: 0.5;
  }
}

.p-header__logo-text {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(14);
}

.p-header__logo-title {
  display: block;
  font-family: global.$ff-en;
  font-size: global.rem(24);
}
