@use "../global" as global;

.p-menu-button {
  --background: rgba(255, 255, 255, 0.9);

  inline-size: fit-content;
  border-radius: 8px;
  background: var(--background);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  backdrop-filter: blur(10px) saturate(120%);
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.1);
  color: global.$text-color-black;
  font-family: global.$ff-en;
  font-size: global.rem(15);
  padding: 7px 13px;
  letter-spacing: 2px;
  transition: global.$transition-default;

  @include global.mq(md) {
    display: none;
  }

  &.is-open {
    background-color: global.$text-color-black;
    color: global.$text-color-white;
  }
}
