@use "../global" as global;

.p-page-work__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include global.mq(md) {
    gap: 50px;
  }
}

.p-page-work__head {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-page-work__title {
  font-size: global.rem(30);
}

.p-page-work__img {
  width: 100%;
  height: 100%;
  max-height: 1200px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-page-work__description {
  --padding-inline: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;

  @include global.mq(md) {
    width: calc(100% - var(--padding-inline) * 2);
    margin-inline: auto;
  }
}

.p-page-work__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include global.mq(md) {
    grid-template-columns: 15% auto;
  }
}

.p-page-work__question {
  font-weight: global.$fw-large;
}

.p-page-work__answer {
  line-height: 1.8;
}
