@use "../global" as global;

.p-page-contact__section-heading {
  margin-top: 5em;
}
.p-page-contact__text-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.p-page-contact__lead {
  font-size: global.rem(26);
}
