@use "../global" as global;

.p-sns-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.p-sns-list-text {
  color: global.$text-color-black;
  font-family: global.$ff-en;
  font-size: global.rem(14);
  font-weight: global.$fw-large;
  line-height: 1;
}

.p-sns-list__list {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  line-height: 1;
}

.p-sns-list__link {
  transition: global.$transition-default;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
  img {
    width: 16px;
    height: 16px;
  }
}
