@use "../global" as global;

.p-skills {
  margin-top: 3.75em;
}

.p-skills__heading {
  display: inline-block;
}
.p-skills__heading-en {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(20, 36);
  display: inline;
  margin-right: 0.3125em;
}

.p-skills__heading-ja {
  display: inline;
  font-size: global.cal-clamp(10, 16);
}
.p-skills__container {
  position: relative;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.25);

  @include global.mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-skills__box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 1.625em;
  border-bottom: 1px solid #dbdbdb;

  &:last-child {
    border-bottom: none;
  }

  @include global.mq(md) {
    padding-inline: 1.625em;
    border-bottom: none;
    border-right: 1px solid #dbdbdb;

    &:first-child {
      padding-left: none;
    }

    &:last-child {
      border-right: none;
      padding-right: none;
    }
  }
}

.p-skills__title {
  font-size: global.rem(20);
}

.p-skills__text {
  span {
    display: inline-block;
  }
}
