@use "../global" as global;

// .p-works {
//   // overflow: hidden;
// }

// 水平スクロールセクション
.section {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  gap: global.cal-clamp(20, 40);
  width: 100%;
}

.left {
  display: none; //スマホ時は非表示

  @include global.mq(md) {
    display: block; //PCサイズから表示
    margin-top: 2em;
    width: 30%;
  }

  p {
    line-height: 1.8;

    span {
      display: inline-block;
    }
  }

  p + p {
    margin-top: 0.75em;
  }
}

.right {
  margin-top: 2em;
  width: 100%; //スマホ時は100%
  display: inline-flex;
  gap: 20px;
  overflow: hidden;

  @include global.mq(md) {
    margin-top: 0;
    width: 70%; //pc時は70%
  }
}

.square {
  width: 100%;
  min-width: 300px;
  height: 100%;
}

//スマホサイズのみ
.p-works__text-box {
  margin-top: 1em;

  p {
    line-height: 1.8;

    span {
      display: inline-block;
    }
  }

  p + p {
    margin-top: 0.75em;
  }

  @include global.mq(md) {
    display: none;
    visibility: hidden;
  }
}

.p-works__btn {
  margin-top: 2em;
  width: fit-content;
  margin-inline: auto;

  @include global.mq(md) {
    margin-inline: 0;
  }
}
