//色
$accent-color: linear-gradient(
  94deg,
  rgba(230, 172, 250, 0.2) 1.82%,
  rgba(255, 231, 251, 0.2) 99.36%
);
$bg-color: linear-gradient(177deg, #f6ebff 0.45%, #fefbdf 99.38%);
$text-color-black: #000000;
$text-color-white: #ffffff;

// フォント
$ff-base: "Noto Sans JP", sans-serif;
$ff-en: "Crimson Text", serif;
$fz-base: 1rem; // ベースフォントサイズ 16px
$fw-base: 400; // ベースフォントウェイト
$fw-large: 700; // 大きいフォントウェイト
$lh-base: normal; // ベース行間

// rem計算
@function rem($font-size-px) {
  @return calc($font-size-px / 16 * 1rem);
}

// 重なり順の定義
$z-indexes: (
  header: 30,
  drawer: 20,
);

@function z-index($key) {
  @return map-get($z-indexes, $key);
}

// レイアウト
$sp-contents-width: 335px;
$pc-contents-width: 1000px;

// transitionの定義
$transition-default: all 0.5s ease;
