@use "../global" as global;

.l-inner {
  --padding-inline: 20px;
  --max-contents-width: 1200px;

  width: min(calc(100% - var(--padding-inline) * 2), var(--max-contents-width));
  margin-inline: auto;

  @include global.mq(md) {
    --padding-inline: 30px;
  }

  @include global.mq(lg) {
    --padding-inline: 60px;
  }
}
