@use "../global" as global;

.c-btn-top {
  inline-size: fit-content;

  a {
    position: relative;
    display: inline-block;
    transition: global.$transition-default;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      width: 68px;
      inline-size: fit-content;
      height: 68px;
      background: url(../img/icon/top-btn-deco.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      animation: rotate2 10s linear infinite;
      transition: global.$transition-default;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// 無限回転
@keyframes rotate2 {
  0% {
    transform: translate(-30%, -30%) rotate(0deg);
  }
  100% {
    transform: translate(-30%, -30%) rotate(360deg);
  }
}
