@use "../global" as global;

.c-btn {
  position: relative;
  display: block;
  inline-size: fit-content;
  border-radius: 1rem;
  border: 2px solid global.$text-color-black;
  padding: 9px 50px 9px 23px;
  box-shadow: 1px 1px 5.6px 1px rgba(0, 0, 0, 0.1);
  transition: global.$transition-default;

  // 矢印アイコン
  &::after {
    position: absolute;
    content: "";
    background: url(../img/icon/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 25%;
    left: calc(100% - 36px);
    width: 20px;
    height: 20px;
    transition: global.$transition-default;
  }

  @media (any-hover: hover) {
    &:hover {
      color: global.$text-color-white;
      background-color: global.$text-color-black;
      box-shadow: none;

      &::after {
        background: url(../img/icon/arrow-right-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(-45deg);
      }
    }
  }
}

// coming-soon用の非アクティブなボタン
.c-btn--disable {
  user-select: none; //選択を無効化
  box-shadow: none;
  pointer-events: none; /* ホバーイベントを無効化 */

  //coming-soonのリボン
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 175.295px;
    height: 31.365px;
    transform: translate(-8%, -50%) rotate(-10.066deg);
    background: url(../img/ComingSoonRibbon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
