@use "../global" as global;

.c-section-heading {
  position: relative;
  inline-size: fit-content;
  margin-right: auto;
}
.c-section-heading__en {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(36, 40);
  font-weight: global.$fw-bold;
  display: inline;
  margin-right: 0.2em;
}

.c-section-heading__ja {
  display: inline-block;
  font-size: global.cal-clamp(14, 16);
  font-weight: global.$fw-medium;
}

//jsでアニメーションするための要素
.js-line-animation {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: global.$text-color-black;
}
