@use "../global" as global;

.c-section-heading {
  position: relative;
  inline-size: fit-content;
  max-width: fit-content;
}
.c-section-heading__en {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(36, 40);
  font-weight: global.$fw-bold;
  display: inline-block;
  margin-right: 0.2em;
}

.c-section-heading__ja {
  display: inline-block;
  font-size: global.cal-clamp(14, 16);
  font-weight: global.$fw-medium;
}

//下線アニメーション
.jsLine {
  background-image: linear-gradient(
    to bottom,
    transparent 95%,
    rgba(0, 0, 0, 100) 5%
  ); /* 線の色 */
  background-position: center bottom; /* 線の起点を左・下に設定 */
  background-repeat: no-repeat;
  background-size: 0 1em; /* 線の横幅を0、縦幅を0.5emに */
  transition: background-size 2s ease-in-out; /* 線を伸ばすアニメーション実行時間を指定 */
}
/* マーカーが表示された時のスタイル */
.jsLine.active {
  background-size: 100% 1em; /* 線の横幅を100%にする */
}
