@use "../global" as global;

.c-section-heading {
  position: relative;
  display: inline-block;
}
.c-section-heading__en {
  font-family: global.$ff-en;
  font-size: global.cal-clamp(30, 40);
  display: inline;
  margin-right: 0.2em;
}

.c-section-heading__ja {
  display: inline;
  font-size: global.cal-clamp(10, 16);
}

//jsでアニメーションするための要素
.js-line-animation {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: global.$text-color-black;
  opacity: 0; //最初は透明、アニメーションで表示
}
